//
// responsive 24 column grid
// demo: https://codepen.io/mcbrwr/pen/gOPaEvK
//

// editable vars:
$grid-columns: 24;
$grid-container-width: $site-width;
$grid-split-breakpoint: $breakpoint-sm;

// these vars need some care when changing: 1 needs to be flex, the other can be fixed
$grid-padding: $site-padding;
$grid-spacer: minmax(0, calc(50% - #{$grid-container-width} / 2 - #{$grid-padding}));

@mixin grid($columns: $grid-columns, $c1: $grid-padding, $c2: $grid-spacer) {
  display: grid;
  grid-template-columns: $c1 $c2 repeat(#{$columns}, 1fr) $c2 $c1;
}

.grid {
  @include grid;
}

.grid__full {
  grid-column: 1 / -1;
}
.grid__extended {
  grid-column: 2 / -2; 
}
.grid__container {
  grid-column: 3 / -3; 
}
.grid__left {
  grid-column: 3 / -3;
  @media screen and (min-width: $grid-split-breakpoint) {
    grid-column: 3 / span 12;  
  }
}
.grid__right {
  grid-column: 3 / -3;
  @media screen and (min-width: $grid-split-breakpoint) {
    grid-column: 15 / span 12;
  }
}
.grid__left-extended {
  grid-column: 2 / span 13;
}
.grid__right-extended {
  grid-column: 15 / span 13;
}
.grid__left-full {
  grid-column: 1 / span 14;
}
.grid__right-full {
  grid-column: 15 / span 14;
}
