//
// responsive 24 column grid
// demo: https://codepen.io/mcbrwr/pen/gOPaEvK
//

// editable vars:
$grid-columns: 24;
$grid-container-width: $site-width;
$grid-split-breakpoint: $breakpoint-sm;

// these vars need some care when changing: 1 needs to be flex, the other can be fixed
$grid-padding: $site-padding;
$grid-spacer: minmax(0, calc(50% - #{$grid-container-width} / 2 - #{$grid-padding}));

@mixin grid($columns: $grid-columns, $c1: $grid-padding, $c2: $grid-spacer) {
  display: grid;
  grid-template-columns: $c1 $c2 repeat(#{$columns}, 1fr) $c2 $c1;
}

// grid placement mixin
// start counting at container borders
@mixin grid-pos($col-start:1, $col-span:1, $row-start:none, $row-span:none) {
  grid-column-start: ($col-start + 2);
  grid-column-end: span $col-span;
  @if $row-start != none {
    grid-row-start: $row-start;
  }
  @if $row-span != none {
    grid-row-end: span $row-span;
  }
}
//start counting at first column
@mixin grid-abspos($col-start:1, $col-span:1, $row-start:none, $row-span:none) {
  grid-column-start: $col-start;
  grid-column-end: span $col-span;
  @if $row-start != none {
    grid-row-start: $row-start;
  }
  @if $row-span != none {
    grid-row-end: span $row-span;
  }
}

.grid {
  @include grid;
}

.grid__full {
  @include grid-abspos(1,28);
}

.grid__extended {
  @include grid-abspos(2,26);
}

.grid__container {
  @include grid-pos(1,24);
}

.grid__left {
  @include grid-pos(1,24);
  @media screen and (min-width: $grid-split-breakpoint) {
    @include grid-pos(1,12);
  }
}

.grid__right {
  @include grid-pos(1,24);
  @media screen and (min-width: $grid-split-breakpoint) {
    @include grid-pos(13,12);
  }
}

.grid__left-extended {
  @include grid-abspos(2,13);
}

.grid__right-extended {
  @include grid-pos(13,13);
}

.grid__left-full {
  @include grid-abspos(1,14);
}

.grid__right-full {
  @include grid-pos(13,14);
}
