// defined colors
.color-green {
  color: $color-green;
}

.bg-green {
  background-color: $color-green;
}

.border-color-green {
  border-color: $color-green;
}

.color-blue {
  color: $color-blue;
}

.bg-blue {
  background-color: $color-blue;
}

.border-color-blue {
  border-color: $color-blue;
}

.color-white {
  color: $color-white;
}

.bg-white {
  background-color: $color-white;
}

.border-color-white {
  border-color: $color-white;
}

.color-black {
  color: $color-black;
}

.bg-black {
  background-color: $color-black;
}

.border-color-black {
  border-color: $color-black;
}

.color-gray-extra-light {
  color: $color-gray-extra-light;
}

.bg-gray-extra-light {
  background-color: $color-gray-extra-light;
}

.border-color-gray-extra-light {
  border-color: $color-gray-extra-light;
}

.color-gray-light {
  color: $color-gray-light;
}

.bg-gray-light {
  background-color: $color-gray-light;
}

.border-color-gray-light {
  border-color: $color-gray-light;
}

.color-gray {
  color: $color-gray;
}

.bg-gray {
  background-color: $color-gray;
}

.border-color-gray {
  border-color: $color-gray;
}

.color-gray-dark {
  color: $color-gray-dark;
}

.bg-gray-dark {
  background-color: $color-gray-dark;
}

.border-color-gray-dark {
  border-color: $color-gray-dark;
}

.color-gray-extra-dark {
  color: $color-gray-extra-dark;
}

.bg-gray-extra-dark {
  background-color: $color-gray-extra-dark;
}

.border-color-gray-extra-dark {
  border-color: $color-gray-extra-dark;
}

// applied colors
.color-primary {
  color: $color-primary;
}

.bg-primary {
  background-color: $color-primary;
}

.border-color-primary {
  border-color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.bg-secondary {
  background-color: $color-secondary;
}

.border-color-secondary {
  border-color: $color-secondary;
}

.color-loud {
  color: $color-loud;
}

.bg-loud {
  background-color: $color-loud;
}

.border-color-loud {
  border-color: $color-loud;
}

.color-soft {
  color: $color-soft;
}

.bg-soft {
  background-color: $color-soft;
}

.border-color-soft {
  border-color: $color-soft;
}
