// defined colors

@each $name, $color in $theme-colors {
  .color-#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }

  .border-color-#{$name} {
    border-color: $color;
  }
}
