// the button mixin. Use this to create additional button classes.
@mixin btn(
  $font-family: $btn-font-family,
  $font-size: $btn-font-size,
  $font-weight: $btn-font-weight,
  $line-height: $btn-line-height,
  $padding: $btn-padding,
  $text-transform: $btn-text-transform,
  $border-radius: $btn-border-radius,
  $background: $btn-background,
  $color: $btn-color,
  $border: $btn-border,
  $hover-color: $btn-hover-color,
  $hover-background: $btn-hover-background
){
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  padding: $padding;
  text-transform: $text-transform;
  border-radius: $border-radius;
  background: $background;
  color: $color;
  border: $border;
  cursor: pointer;
  display: inline-flex;
  text-decoration: none;
  // white-space: nowrap; // nowrap makes buttons expand flexbox items.. not nice.. bad button!
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  &:focus,
  &:hover {
    color: $hover-color;
    background: $hover-background;
  }
  &:active {
    transform: scale(.97);
  }
}

// the main button for primary options (like "submit" in a form)
.btn {
  @include btn();
}

// .btn-diap, the main button on a dark background
.btn-diap {
  @include btn(
    $font-family: $btn-diap-font-family,
    $font-size: $btn-diap-font-size,
    $font-weight: $btn-diap-font-weight,
    $line-height: $btn-diap-line-height,
    $padding: $btn-diap-padding,
    $text-transform: $btn-diap-text-transform,
    $border-radius: $btn-diap-border-radius,
    $background: $btn-diap-background,
    $color: $btn-diap-color,
    $border: $btn-diap-border,
    $hover-color: $btn-diap-hover-color,
    $hover-background: $btn-diap-hover-background
  );
}

// the secondary button for secondary options (like "cancel" in a form)
.btn-secondary {
  @include btn(
    $font-family: $btn-secondary-font-family,
    $font-size: $btn-secondary-font-size,
    $font-weight: $btn-secondary-font-weight,
    $line-height: $btn-secondary-line-height,
    $padding: $btn-secondary-padding,
    $text-transform: $btn-secondary-text-transform,
    $border-radius: $btn-secondary-border-radius,
    $background: $btn-secondary-background,
    $color: $btn-secondary-color,
    $border: $btn-secondary-border,
    $hover-color: $btn-secondary-hover-color,
    $hover-background: $btn-secondary-hover-background
  );
}

// the diapositive btn-secondary, the secondary button on dark background
.btn-secondary-diap {
  @include btn(
    $font-family: $btn-secondary-diap-font-family,
    $font-size: $btn-secondary-diap-font-size,
    $font-weight: $btn-secondary-diap-font-weight,
    $line-height: $btn-secondary-diap-line-height,
    $padding: $btn-secondary-diap-padding,
    $text-transform: $btn-secondary-diap-text-transform,
    $border-radius: $btn-secondary-diap-border-radius,
    $background: $btn-secondary-diap-background,
    $color: $btn-secondary-diap-color,
    $border: $btn-secondary-diap-border,
    $hover-color: $btn-secondary-diap-hover-color,
    $hover-background: $btn-secondary-diap-hover-background
  );
}

/**
 *
 * the buttons-group
 *
 */
.buttons {
  margin: $buttons-margin;
  &:last-child {
    margin-bottom: 0;
  }
  > * {
    margin: $buttons__button-margin;
  }
}
