.card {
  text-decoration: none;
  transition: .1s ease-in-out;
  color: inherit;
  display: flex;
  flex-direction: column;
  &:focus,
  &:hover {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(.97);
  }
}