.pagination {
  .nav-links {
    display: flex;
    justify-content: center;

    > a,
    > span {
      display: block;
      background-color: $pagination-background-color;
      color: $pagination-color;
      text-decoration: $pagination-text-decoration;
      padding: $pagination-padding;
      border-radius: $pagination-border-radius;
      margin: $pagination-margin;
      border: $pagination-border;
    }

    > span {
      &.current {
        background-color: $pagination-background-color-current;
        color: $pagination-color-current;
        border: $pagination-border-current;
      }
    }

    > a {
      &:active,
      &:hover {
        background-color: $pagination-background-color-hover;
        color: $pagination-color-hover;
        border: $pagination-border-hover;
      }
    }
  }
}
