@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$body-bg: #2c3e50;
$font-color: #ecf0f1;
$color-soft__text: #2c3e50;
$color-blue: #2980b9;
$color-green: #27ae60;
$color-loud: #8e44ad;
$color-soft: #f1c40f;
$headings-font: 'Bitter', serif;
