.card {
  text-decoration: none;
  transition: .1s ease-in-out;
  color: inherit;
  display: flex;
  flex-direction: column;
  &:focus,
  &:hover {
    h3 {
      color: $link-hover-color;
    }
  }
  &:active {
    transform: scale(.97);
  }
}

.card__meta {
  font-size: $font-size-sm;
  font-style: italic;
  > * {
    display: inline-block;
    &:not(:first-child) {
      &::before {
        content: ' - '
      }
    }
  }
}