// color-definitions
$color-green: #6b7516 !default; // dummy color, not really used, define colors in project
$color-blue: #1d5566 !default; // dummy color, not really used, define colors in project

// grayscale colors
$color-white: #fff !default;
$color-black: #333 !default;
$color-gray-extra-light: #f3f3f3 !default;
$color-gray-light: #ddd !default;
$color-gray: #aaa !default;
$color-gray-dark: #888 !default;
$color-gray-extra-dark: #444 !default;

// color applications
$body-bg: $color-white !default;
$font-color: $color-black !default;
$color-primary: $color-blue !default;
$color-secondary: $color-green !default;

// color loud, for loud attention backgrounds
$color-loud: $color-primary !default;
$color-loud__text: #fff !default;
$color-loud__headings: #fff !default;

// color soft, for soft backgrounds
$color-soft: #f3f3f3 !default;
$color-soft__text: $font-color !default;
$color-soft__headings: $font-color !default;

// text color on primary colored backgrounds
$color-primary__text: #fff !default;
$color-primary__headings: #fff !default;


$theme-colors: (
  'black': $color-black,
  'blue': $color-blue,
  'gray': $color-gray,
  'gray-dark': $color-gray-dark,
  'gray-extra-dark': $color-gray-extra-dark,
  'gray-extra-light': $color-gray-extra-light,
  'gray-light': $color-gray-light,
  'green': $color-green,
  'loud': $color-loud,
  'primary': $color-primary,
  'secondary': $color-secondary,
  'soft': $color-soft,
  'white': $color-white,
) !default;
