// spacing size definitions
$space-xs: .3em;
$space-sm: .6em;
$space-md: 1em;
$space-lg: 2em;
$space-xl: 4em;


// section spacing
$section-margin: $space-lg;  // the top & bottom margin for sections
$section-padding: $space-lg; // top & bottom padding for sections with color bg