// spacing size definitions
$space-xs: .3em !default;
$space-sm: .6em !default;
$space-md: 1em !default;
$space-lg: 2em !default;
$space-xl: 4em !default;

$space-xs-rem: ($space-xs * 1rem) !default;
$space-sm-rem: ($space-sm * 1rem) !default;
$space-md-rem: ($space-md * 1rem) !default;
$space-lg-rem: ($space-lg * 1rem) !default;
$space-xl-rem: ($space-xl * 1rem) !default;

// section spacing
$section-margin: $space-lg !default; // the top & bottom margin for sections
$section-padding: $space-lg !default; // top & bottom padding for sections with color bg

$spacers: (
  0: 0,
  1: $space-xs,
  2: $space-sm,
  3: $space-md,
  4: $space-lg,
  5: $space-xl,
)
