// spacing size definitions
$space-xs: .3em !default;
$space-sm: .6em !default;
$space-md: 1em !default;
$space-lg: 2em !default;
$space-xl: 4em !default;

// section spacing
$section-margin: $space-lg !default;  // the top & bottom margin for sections
$section-padding: $space-lg !default; // top & bottom padding for sections with color bg
