section.section-text-image {
  @include section-margins();
}

.section-text-image__image {
  @include grid-pos(1,11,1,1);
}
.section-text-image__text {
  @include grid-pos(14,11,1,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

// textpos modifier
.section-text-image--textpos-left {
  .section-text-image__image {
    @include grid-pos(14,11,1,1);
  }
  .section-text-image__text {
    @include grid-pos(1,11,1,1);
  }
}

// figure extend modifier
.section-text-image--image-extend {
  .section-text-image__image {
    @include grid-abspos(1,14,1,1);
  }
  &.section-text-image--textpos-left {
    @include grid-pos(13,14,1,1);
  }
}