section.section-visual {
}

.section-visual__figure {
  @include grid-abspos(1,28,1,1);
  z-index: 0;
  img {
    display: none;
  }
}

.section-visual__text {
  @include grid-pos(6,14,1,1);
  z-index: 2;
  padding: $space-4;
  h1 {
    margin: 0;
  }
}

/**
 *
 * dark overlay, light text
 * this is the default
 *
 */
.section-visual,
.section-visual--overlay-dark {
  @include overlay-grid($bg: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.2)));
  color: $font-color-light;
}

/**
 *
 * light overlay, dark text
 *
 */
.section-visual--overlay-light {
  @include overlay-grid($bg: linear-gradient(to top, rgba(255,255,255,0.8), rgba(255,255,255,0.2)));
  color: $font-color-dark;
}

/**
 *
 * height: sm, md, lg
 *
 */
.section-visual--height-sm {
  .section-visual__text {
    margin: 3vw 0;
  }
}
.section-visual--height-md {
  .section-visual__text {
    margin: 6vw 0;
  }
}
.section-visual--height-lg {
  .section-visual__text {
    margin: 9vw 0;
  }
}